<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <div>
      <form method="post">
        <div class="form-group">
          {% for i in range(1,5) %}
            Qual a altura da parede {{ i }} ?
            <input type="number" name="height_{{i}}" value="{{ request.form['height_{{i}}']}}">
            <br>

            Qual a largura da parede {{i}}? "
            <input type="number" name="width_{{i}}">
            <br>

            Quantas janelas  possui a parede {{i}}?
            <input type="number" name="window_{{i}}">
            <br>

            Quantas portas  possui a parede {{i}}?
            <input type="number" name="door_{{i}}">
            <br>
          {% endfor %}
          <input type="submit" value="Enviar">
        </div>
      </form>
    </div>

    {% if result %}
      <div>
        {{result}}!!!
      </div>
    {% endif %}

    {% endblock %}
  </body>
</html>